/*Created By : Mohammed Sabir (https://imjsdev.netlify.com/work)*/
.margin-right{
	margin-right: 10px;
}
.custom-card{
	width: 50%;
	margin:auto;
}
/*Created By : Mohammed Sabir (https://imjsdev.netlify.com/work)*/